div {border: solid 3 px; color:pink; margin: 5px; background:yellow;}
#b1 {border: solid 3 px; border-color:pink; margin: 5px; background:orange;}
#b2 {border-color: purple; border-style: solid;}
#b3 {background:green; width: 25%; float:left}
#b4 {background: light-blue; width: 48%; float:left}
#b5 {background:violet; width: 13%; float:left}
#b6 {clear:both;}
#b7 {font-family: helvetica, sans-serif}
